<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
<div class="container my-3">
    <h2 class="border-bootom py -2">{{question.subject}}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div calss="'card-text" style="white-space:pre-line;">{{question.content}}
                <div class="d-flex justify-content-end">
                    {{question.create_data}}
                </div>
            </div>
        </div>
    </div>
    <h5 class="border-bootom my-3 py-2">{{question.answer_set|length}}개의 답변이 있습니다.</h5>
    {% for answer in question.answer_set %}
    <div class="card my-3">
        <div class="card-body">
            <div calss="card-text" style="white-space: pre-line;">{{answer.content}}</div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {{answer.create_data}}
                </div>
            </div>
        </div>
    </div>
    {% endfor%}
    <form action="{{url_for('answer.create',question_id=question.id)}}" method="post" class="my-3">
        <div class="form-group">
            <textarea name="content" id="content" class="form-group" rows="10"></textarea>
        </div>
        <input type="submit" value="답변등록" class="bth bth-primary">
    </form>
</div>